WeightedClusteringCoefficient_CompleteGraph/connection/
WeightedClusteringCoefficient_CompleteGraphTop10/connection/
WeightedClusteringCoefficient_MonthlyAverage/connection/
WeightedClusteringCoefficient_MonthlyAverageTop10/connection/
data/month_user_data/
data/user_comment_history/
